{
	"swap": "True",
        "gwas_groups": 
	{
		"Trans":
		{
			"files": [
				"/users/mgloud/projects/ipsc/data/trans_eqtl/full/ipsc_trans_eqtl_sorted.txt.gz"
			],
			"gwas_cutoff_pvals": [1],
			"gwas_windows": [1000000],
			"eqtl_targets":
			{
				"all":
				{
					"cutoff_pvals": [5e-8],
					"windows": [50000]
				}
			}

		}
	},
       "eqtl_groups": 
	{
		"all":
		{
			"files": [
				"/users/mgloud/projects/ipsc/data/marcs_gwas_files/reformatted/GWAS_Catalog/*.gz",
				"/users/mgloud/projects/ipsc/data/marcs_gwas_files/reformatted/PhenomeScanner/*.gz",
				"/mnt/lab_data/montgomery/mgloud/gwas/data/munged/*.gz",
				"/mnt/lab_data/montgomery/shared/datasets/ukbb/gwas/*.gz"
			]
		}
	},
	"output_directory": "/users/mgloud/projects/ipsc/output/test-snps",
	"output_base" : "ipsc-trans"
}


