{

       "gwas_groups": 
	{
		"marcs_extra":
		{
			"files": [
				"/users/mgloud/projects/ipsc/data/marcs_gwas_files/reformatted/GWAS_Catalog/*.gz",
				"/users/mgloud/projects/ipsc/data/marcs_gwas_files/reformatted/PhenomeScanner/*.gz"	
			],
			"gwas_cutoff_pvals": [5e-8],
			"gwas_windows": [1000000],
			"eqtl_targets":
			{
				"APALevel":
				{
					"cutoff_pvals": [0.01503942],
					"windows": [10000]
				},
				"ExonLevel":
				{
					"cutoff_pvals": [0.0224596173026964],
					"windows": [10000]
				},
				"GeneLevel":
				{
					"cutoff_pvals": [0.144364684969209],
					"windows": [10000]
				},
				"SplicingLevel":
				{
					"cutoff_pvals": [0.0114821448788669],
					"windows": [10000]
				},
				"TranscriptRatio":
				{
					"cutoff_pvals": [0.025164476],
					"windows": [10000]
				}
			}
		},
		"locus_compare":
		{
			"files": [
				"/mnt/lab_data/montgomery/mgloud/gwas/data/munged/*.gz"
			],
			"gwas_cutoff_pvals": [5e-8],
			"gwas_windows": [1000000],
			"eqtl_targets":
			{
				"APALevel":
				{
					"cutoff_pvals": [0.01503942],
					"windows": [10000]
				},
				"ExonLevel":
				{
					"cutoff_pvals": [0.0224596173026964],
					"windows": [10000]
				},
				"GeneLevel":
				{
					"cutoff_pvals": [0.144364684969209],
					"windows": [10000]
				},
				"SplicingLevel":
				{
					"cutoff_pvals": [0.0114821448788669],
					"windows": [10000]
				},
				"TranscriptRatio":
				{
					"cutoff_pvals": [0.025164476],
					"windows": [10000]
				}
			}
		},
		"ukbb":
		{
			"files": [
				"/mnt/lab_data/montgomery/shared/datasets/ukbb/gwas/*.gz"
			],
			"gwas_cutoff_pvals": [5e-8],
			"gwas_windows": [1000000],
			"eqtl_targets":
			{
				"APALevel":
				{
					"cutoff_pvals": [0.01503942],
					"windows": [10]
				},
				"ExonLevel":
				{
					"cutoff_pvals": [0.0224596173026964],
					"windows": [10]
				},
				"GeneLevel":
				{
					"cutoff_pvals": [0.144364684969209],
					"windows": [10]
				},
				"SplicingLevel":
				{
					"cutoff_pvals": [0.0114821448788669],
					"windows": [10]
				},
				"TranscriptRatio":
				{
					"cutoff_pvals": [0.025164476],
					"windows": [10]
				}
			}
		}
	},
       "eqtl_groups": 
	{
		"APALevel":
		{
			"files": [
				"/users/mgloud/projects/ipsc/data/Input/ApaLevel/full_qtl_results_formatted.txt.gz"
			]
		},
		"ExonLevel":
		{
			"files": [
				"/users/mgloud/projects/ipsc/data/Input/ExonLevel/full_qtl_results_formatted.txt.gz"
			]
		},
		"GeneLevel":
		{
			"files": [
				"/users/mgloud/projects/ipsc/data/Input/GeneLevel/full_qtl_results_formatted.txt.gz"
			]
		},
		"SplicingLevel":
		{
			"files": [
				"/users/mgloud/projects/ipsc/data/Input/SplicingLevel/full_qtl_results_formatted.txt.gz"
			]
		},
		"TranscriptRatio":
		{
			"files": [
				"/users/mgloud/projects/ipsc/data/Input/TranscriptRatio/full_qtl_results_formatted.txt.gz"
			]
		}
	},
	"output_directory": "/users/mgloud/projects/ipsc/output/test-snps",
	"output_base" : "ipsc"
}


